@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(7, 7, 7);
    color: rgb(255, 255, 255);
    margin-top: 35vh;
}

::selection {
    background-color: rgb(188, 99, 247);
    color: aliceblue;
}