@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(15, 23, 42);
    color: white;
    margin-top: 38vh;
}

::selection {
    background-color: rgb(188, 99, 247);
    color: aliceblue;
}