@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    margin-top: 35vh;
}

::selection {
    background-color: rgb(99, 188, 247);
    color: aliceblue;
}